.jumbotron {
  padding-top: 3rem;
  background-color: #e2edff;
}

#hobby {
  background-color: #e2edff;
}

section {
  padding-top: 5rem;
}

/* my keyboard section */
.keyboard-box {
  position: relative;
  background-color: #0c6efd;
  border-radius: 10px;
  height: 500px;
  transform-style: preserve-3d;
}

.keyboard-box::before {
  content: "MY";
  position: absolute;
  color: #fff;
  font-size: 6em;
  font-weight: bold;
  font-style: italic;
  top: 30px;
  left: 50%;
  transform: translate(-50%, 0);
  opacity: 0;
  transition: 0.5s;
}

.keyboard-box:hover::before {
  opacity: 0.5;
}

.keyboard-box::after {
  content: "BOOK";
  position: absolute;
  color: #fff;
  font-size: 4.2em;
  font-weight: bold;
  font-style: italic;
  top: 350px;
  left: 50%;
  transform: translate(-50%, 0);
  opacity: 0;
  transition: 0.5s;
}

.keyboard-box:hover::after {
  opacity: 0.5;
}

.keyboard-name {
  position: absolute;
  top: 0;
  width: 100%;
  color: #fff;
  text-align: center;
  font-size: 2em;
  opacity: 0;
  transform: translate3d(0, 0, 50px);
  transition: 0.5s;
}

.keyboard-box:hover .keyboard-name {
  top: 20px;
  opacity: 1;
}

.keyboard-detail-button {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate3d(-50%, 0, 100px);
  opacity: 0;
  transition: 0, 5s;
}

.keyboard-box:hover .keyboard-detail-button {
  opacity: 1;
  bottom: 20px;
}

.book-img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate3d(-50%, -52%, 80px);
  max-width: 200px;
  transition: 0.5s;
  z-index: 10;
}

.keyboard-box:hover .book-img {
  transform: translate3d(-50%, -52%, 100px) rotate(5deg) scale(1.2);
}

/* Media query untuk tampilan seluler */
@media (max-width: 767px) {
  .jumbotron {
    padding-right: 20px; /* Sesuaikan dengan nilai yang diinginkan */
  }
}
